{% load static %}

<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<!--<link rel="icon" href="imageset/favicon.png">-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
		<!--<link rel="stylesheet" href="{% static "css/style.css" %}">-->
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/materialize.min.js" %}"></script>

		<script src="{% static "js/script.js" %}"></script>
	</head>

	<body>
		{% if messages %}
			{% for message in messages %}
					<script>
						Materialize.toast('{{ message }}', 3000);
					</script>
			{% endfor %}
		{% endif %}
    <div class="container center-align">
      <h1>Register</h1>
			<div class="row">
				<form action={% url 'loginmodule_register' %} method="POST" class="col s12">{% csrf_token %}
					{{u_form}}
                    		        	<button type="submit" class="btn">Register</button>

                          	</form>
			</div>
    </div>
		        {% comment %} <a href={% url 'loginmodule_register' %}>	<button class="btn">Signup</button> </a> {% endcomment %}

</body>
</html>
